<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstservice">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLightNoActionBar"
        >
        <activity android:name=".activity.MainActivity"
            android:label="Hello"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.Myservice"></service>
        <service android:name=".service.MyIntentService"/>
        <service android:name=".service.DownloadService"
            android:exported="true"
            android:enabled="true"/>
        <activity android:name=".activity.ReclyViewActivity"/>
        <activity android:name=".activity.FragmentsActivity"/>
        <activity android:name=".activity.NewsActivity"/>
        <activity android:name=".activity.NewsContentActivity"/>
        <activity android:name=".activity.contanctActivity.ContanctRightActivity"/>
        <activity android:name=".activity.contanctActivity.ContanctActivity"/>
        <receiver android:name=".receiver.BootCompleteReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".activity.forceoffline.LoginActivity"
            >

        </activity>
        <activity android:name=".activity.rightmenu_activity.PersonActivity"/>
    </application>

</manifest>